<!-- Page Content -->
<div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3">Apropos
    <small>de la Mairie de Poto-Poto</small>
  </h1>

  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/accueil">Accueil</a>
    </li>
    <li class="breadcrumb-item active">Aporos</li>
  </ol>

  <!-- Intro Content -->
  <div class="row">
    <div class="col-lg-6">
      <img class="img-fluid rounded mb-4" src="http://placehold.it/750x450" alt="">
    </div>
    <div class="col-lg-6">
      <h2>Apropos de la Mairie de Poto-Poto</h2>
      <p>
        La mairie de Poto-Poto est le siège de l’arrondissement 3.
        Il est précisément situé dans le quartier 31 a cheval entre la rue BANGALA et l’avenue de

        France en face du rondpoint Poto-Poto. Le bâtiment qui abrite le siège de l’arrondissement
        3 Poto-Poto, dont la date de construction n’est pas exactement connue a été officiellement
        inaugure en Décembre 1943 le 31 Décembre par arrêté 26/1943.La commune de Poto-Poto est
        créée et depuis 1945 elle a évolué à sa tête sous cinq (5) types de responsables :
      </p>
      <ol>
        <li>Les Présidents de commune ;</li>
        <li>Les Adjoints au Maire ;</li>
        <li>Les Maires ;</li>
        <li>Les Administrateurs Maires Délégués</li>
        <li>Les Administrateurs Maire.</li>
      </ol>

      <p> La commune de poto-poto compte sept (7) quartiers du 31 à 36.</p>

    </div>
    <!-- /.row -->

    <!-- Team Members -->
    <h2>Liste des différents responsables de la mairie de Poto-Poto</h2>

    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="http://placehold.it/750x450" alt="">
          <div class="card-body">
            <h4 class="card-title"><a href="#"></a></h4>
            <h6 class="card-subtitle mb-2 text-muted"></h6>
            <p class="card-text text-truncate">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
          </div>
          <div class="card-footer">
            <div class="card-title"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- /.row -->

    <!-- Our Customers
    <h2>Our Customers</h2>
    <div class="row">
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </div>
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </div>
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </div>
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </div>
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </div>
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </div>
    </div>

 -->
  </div>
</div>
<!-- /.container -->



