<mat-toolbar color="primary">
  <mat-toolbar-row fxLayoutAlign="space-between center">
    <div fxLayout="row">
      <button mat-button>
        <mat-icon routerLink="/accueil">home</mat-icon>
        <span class="logo">Mairie de Poto-Poto</span>
      </button>

      <div *ngIf="!devicesXs">
        <button mat-button routerLink="/accueil">Accueil</button>
        <button mat-button routerLink="/contact" routerLinkActive="">Contacter nous</button>
        <button mat-button routerLink="/about">Apropos de nous</button>
        <button mat-button routerLink="/admin">Plus d'options</button>
      </div>

    </div>
    <div>
      <button mat-icon-button>
        <mat-icon *ngIf="devicesXs">more_vert</mat-icon>
        <span *ngIf="!devicesXs">Menu</span>
      </button>
    </div>
  </mat-toolbar-row>

  <mat-toolbar-row *ngIf="devicesXs" fxLayoutAlign="space-between end">
    <button mat-button routerLink="/accueil">Accueil</button>
    <button mat-button routerLink="/contact" >Contacter nous</button>
    <button mat-button routerLink="/about">Apropos de nous</button>
    <button mat-button routerLink="/admin">Plus d'options</button>
  </mat-toolbar-row>
</mat-toolbar>
