<form class="example-form" [formGroup]="payForm" (ngSubmit)="onPayerDocument()">



    <mat-form-field class="example-full-width">
      <mat-label></mat-label>
      <input matInput formControlName="documentName" type="text" value="{{documents.documentName}}">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label></mat-label>
      <input matInput formControlName="price" type="text" placeholder="{{documents.price}}">
    </mat-form-field>
    <div>
      <button  mat-flat-button  color="primary" type="submit">Payer</button>
    </div>


</form>

    <div>
      <div>
        <p>{{documents.documentName}}</p>
        <p></p>
        <button mat-button (click)="onPayerDocument()">Payer</button>
      </div>
    </div>

