<mat-sidenav-container>
  <mat-sidenav mode="side" [(opened)]="opened">
     <mat-nav-list>
       <a mat-list-item><mat-icon>home</mat-icon>Home</a>
       <mat-divider></mat-divider>
       <a mat-list-item>About</a>
       <mat-divider></mat-divider>
       <a mat-list-item>Documents</a>
       <mat-divider></mat-divider>
       <a mat-list-item>Enfants</a>
       <mat-divider></mat-divider>
       <a mat-list-item>Peres</a>
       <mat-divider></mat-divider>
       <a mat-list-item>Meres</a>
       <mat-divider></mat-divider>
       <a mat-list-item routerLink="/nationalite" routerLinkActive="primary">Nationalites</a>
       <mat-divider></mat-divider>
       <a mat-list-item>Maires</a>
     </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <span (click)="opened = !opened" class="sp"><mat-icon>menu</mat-icon></span>
  </mat-sidenav-content>
</mat-sidenav-container>


